@import url("photographer.css");

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

ul,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* main */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer-profile {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer-profile {
    margin: 1vh 4vh 1vh 4vh;
}

.photographer_section h2 {
    color: #D3573C;
    font-size: 1.6rem;
}

.photographer_section img {
    height: 225px;
    width: 215px;
    object-fit: cover;
    border-radius: 50%;
}

.photographIndexDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    padding: 2vh 0vh 2vh 0vh;
    white-space: nowrap;
}

h4 {
    color: #D3573C;
}